<div class="row">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="q" placeholder="account name"/>
    </div>

    <table class="table table-striped">
        <th>Account Name</th>
        <th>Actions</th>
        <tr ng-repeat="account in accounts | filter:q">
            <td>{{account.name}}</td>
            <td>
                <a ui-sref="manageDashboards({accountId: account.rid})" class="btn btn-large btn-default">
                    <i class="fa fa-cog"></i> Manage
                </a>
                <a ui-sref="deleteDashboard({accountId: account.rid})" class="btn btn-large btn-default">
                    <i class="fa fa-trash-o"></i> Delete
                </a>
            </td>
        </tr>
    </table>
</div>