<div>

    <h2>Search by Site</h2>
    <div class="input-group component-group">
        <input type="text" class="form-control" ng-model="rtn" ng-keyup="$event.keyCode == 13 && getMaReleaseByRtn(rtn)" placeholder="E.g. 1-12345"/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="getMaReleaseByRtn(rtn)">Search</button>
        </span>
    </div>
    <p/>
    <table class="table table-striped" ng-show="release">
        <th>Release</th>
        <th>Site</th>
        <th>Address</th>
        <th>Town</th>
        <tr>
            <td><a ui-sref="releaseDetails({rtn:release.rtn})">{{release.rtn}}</a></td>
            <td>{{release.siteName}}</td>
            <td>{{release.address}}</td>
            <td>{{release.town}}</td>
        </tr>
    </table>
</div>