<div class="row">
    <div class="input-group component-group">
        <input type="text" class="form-control" ng-model="rtn" placeholder="E.g. 1-12345, Release Tracking Number (RTN)"/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="getMaReleaseByRtn(rtn)">Search</button>
        </span>
    </div>
    <table class="table table-striped">
        <th>Release</th>
        <th>Site</th>
        <th>Address</th>
        <th>Town</th>
        <tr>
            <td>{{release2.rtn}}</td>
            <td>{{release2.siteName}}</td>
            <td>{{release2.address}}</td>
            <td>{{release2.town}}</td>
        </tr>
    </table>
</div>