
<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@jeffreylkurtz">
    <meta name="twitter:title" content="releaseDetailer">
    <meta name="twitter:description" content="Massachusetts hazardous waste site data at your fingertips. Quickly search and compare site information collected by the MassDEP Bureau of Waste Site Cleanup.">
    <meta name="twitter:creator" content="@jeffreylkurtz">
    <!--<meta name="twitter:image:src" content="">-->
    <meta property="og:title" content="Release Detailer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/releaseDetailer" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Massachusetts hazardous waste site data at your fingertips. Quickly search and compare site information collected by the MassDEP Bureau of Waste Site Cleanup.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            Release Detailer
            <small>
                v<%= version %>
            </small>
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="home">
                <i class="fa fa-home"></i>
                Home
              </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="releaseSearch">
                    <i class="fa fa-search"></i>
                    Search Releases
                </a>
            </li>
            <li>
              <a href="mailto:jeffreylkurtz@gmail.com">
                <i class="fa fa-comments"></i>
                Support
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <ul class="social">
            <li><a target="_blank" href="http://gplus.to/jeffreylkurtz"><i class="fa fa-google-plus-sign"></i></a></li>
            <li><a target="_blank" href="http://twitter.com/jeffreylkurtz"><i class="fa fa-twitter-sign"></i></a></li>
            <li><a target="_blank" href="http://linkedin.com/in/jeffreylkurtz"><i class="fa fa-linkedin-sign"></i></a></li>
          </ul>

          <p>
            (c) 2015 <a href="http://www.jeffreylkurtz.com">Jeffrey L Kurtz</a>.
            <br />
            Release Detailer uses data published by the <a href="http://www.mass.gov/eea/agencies/massdep/cleanup/sites/downloadable-site-lists.html">MassDEP</a>
              and was created using <a href="http://github.com/ngbp/ngbp">ngbp</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
